.pregunta1{
    background-color: aquamarine;
}

.content-div{
    border: 1px solid blue;
}

.pregunta2{
    background-color: purple;
}
.pregunta3{
    background-color: chocolate;
}
.pregunta4{
    color: white;
}
.pregunta5{
    background-color: chartreuse;
}
.pregunta6{
    background-color: coral;
}